/// @name Typography
/// @content Classes usually used.

@use '../helpers/variables' as var;
@use '../helpers/functions' as func;

.decoration__cleared
{
    text-decoration: none;
    list-style: none;
}

.element__closed
{
    display: none;
}
.area__showed
{
    border: 1px solid #333;
}

.separator
{
    border: 1px #333 solid;
    width: 10rem;
    height: 0px;
    margin: 0 auto;
}

.text__default
{
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    font-size: x-large;
}

//----------------------------------------------------------------
// Center part.
.box__centered
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image__centered
{
    display: block;
    margin: auto auto;
    width: 100%;
}

//----------------------------------------------------------------
//  Fade in.
.transition__fadeIn
{
    transition: map-get($map: var.$transition, $key: fade);
}